html
  margin 0
  background-color #eee

body
  margin 0 auto
  display flex
  flex-direction row
  justify-content center
  gap 1rem
  padding 1rem
  font-family 'Noto Sans', sans-serif
  font-weight 400
  flex-wrap wrap-reverse
  max-width 1000px


main
aside
  display flex
  flex-direction column
  gap 1rem


@media (max-width 500px)
  body
    gap 0.25rem
    padding 0.25rem
  main
  aside
    gap 0.25rem

main
  flex-basis 0
  flex-grow 999
  min-width 40ch

aside
  flex-basis 350px
  flex-grow 1

#app
  display contents

.card
  background-color white
  padding 1.5rem
  box-shadow 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)

  *
    margin 0
  > * + * 
  &__content > * + *
    margin-top 1em

  &__title
    margin 0
    padding 0
    color #609
  
  &--borderless
    padding 0

  &__link_list 
    padding-left 1rem
    li
      margin 0
      padding 0
      list-style none
      a
        color #660099
        text-decoration none
      a:visited
        color #660099
      a.link--active
        color #000000
  
  &__content
    [data-md-directive="table-list"] + table
      border none
      thead
        display none
      tr
        td
          width auto !important
          vertical-align top
          border none
        td:first-of-type
          font-weight bold
          padding-right 0.5em
  
  &__actions
    display flex
    gap 1rem
    flex-wrap wrap
    justify-content center
    a
    a:visited
      text-decoration none
      color #660099
    a.link--na
      color #000000


.word
  &__word
    display inline-block
  &__position
  &__pattern
    display inline-block
    font-weight 200
    font-style italic
  &__position + &__pattern
    margin-left 1rem
  &__definition
    margin-top 1em
  &__example
    margin-top 0.5em
    padding 0.2rem
    padding-left 0.5rem
    margin-left 0.5rem
    background-color #ffe
    border-left 0.5rem solid #fea
    *
      margin-top 0


[data-md-directive]
  display none

.dict_entry
  display flex
  flex-wrap wrap
  gap 0.5rem
  &__word a
  &__word a:visited
    text-decoration none
    color #660099
  &__pos
    font-style italic
  &__defs
    margin 0
    padding 0
    list-style-type none
  &__defs--many
    width 100%
    list-style-type decimal
    margin-left 1rem
    li
      padding-left 0.5rem
  &__def
    margin 0
    &__num
      font-weight bold
  &__def--many
    width 100%


.dict_search
  display grid
  grid-template-columns auto 1fr
  column-gap 0.5rem
  &__label
    font-size 0.75rem
  &__searchmode
  &__search
  &__clear
  &__submit
    padding-left 0.5rem
    padding-right 0.5rem
    height 2rem
    box-sizing: border-box
  &__clear
  &__submit
    margin-top 0.5rem
    border none
    cursor pointer
  &__submit
    background-color #660099
    color white
    font-weight bold

.flag
  max-width 100%
  height auto
  display block
  width 100%